:root {
  --max-width: 650px;
  --link-color: #f03;
  --quote-color: #888;
}

blockquote, div, img, ol, p, section {
  max-width: var(--max-width);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'Inter', 'Times New Roman', serif;
  font-size: 14pt;
  line-height: 1.3;
}

blockquote {
  position: relative;
  max-width: 24rem;
  padding: 1rem 1.5rem 1rem 2.5rem;
  margin: 2rem auto;
  font-size: 16pt;
  background: #fff;
  color: #333;
  border-left: 2px solid var(--quote-color); 
}

blockquote::before {
  content: "\201C";
  position: absolute;
  top: .4rem;
  left: .5rem;
  font-size: 2.5rem; 
  color: var(--quote-color);
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--link-color);
  position: relative;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: var(--link-color);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

section[role="doc-endnotes"] ol li a[role="doc-backlink"] {
  padding-right: 0.2em;
}
