:root {
    --r-link-color: #fff703;
    /* --r-link-color: #c6915b; */
    /* --r-link-color: #f95252; */
    --r-heading-color: #e6edf7;
    --r-heading-text-transform: none;
}
.hlt {
    color: var(--r-link-color);
}

.reveal blockquote {
    text-align: left;
    font-size: 18pt;
    padding: 0 1em;
}

.reveal table td, .reveal table {
    border-color: transparent;
}

.reveal .controls-arrow { display: none; }

p {
    text-align: left;
}

.slide-number { display: none !important; }
