<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Lachlan Kermode</title>
    <meta name="description" content="Lachlan Kermode">
    <meta name="author" content="Lachlan Kermode">

    <link href="https://fonts.googleapis.com/css?family=Cantarell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/routing.css">
  </head>

  <body>
    <div id="mobile-header-blocker"></div>
    <div id="header" class="header">
      <a href="https://lachlankermode.com" class="panel header-panel">
        <h1>LACHLAN KERMODE</h1>
      </a>
    </div>
    <div id="content">
      <!-- COLUMN 2 -->
      <div id="col-2" class="column">
        <!-- BLOGS-->
        <h2 class="mb-10">WRITING</h2>
        {{{ inlineBlogs }}}
        <!-- b2 -->
      </div>
      <!-- COLUMN 1 -->
      <div id="col-1" class="column">

        <!-- ABOUT -->
        <div class="panel mb-10">
          <h2>ABOUT</h2>
          <ul class="fancy">
            <li>PhD student at <a href="https://www.brown.edu/">Brown</a>.</li>
            <li>Research Fellow at <a href="https://www.forensic-architecture.org/">Forensic Architecture</a>.</li>
            <li>Thought Leader at <a href="https://ohrg.org">Ohrg dot org</a>.</li>
            <!-- <li>undergraduate degree from <a href="https://www.princeton.edu/">Princeton</a>.</li> -->
            <!-- <li>co-founder at <a href="https://directdrinks.com.au/">DirectDrinks</a>.</li> -->
            <!-- <li>principal at <a href="https://argnotes.club/">A.R.G</a>.</li> -->
            <!-- <li>resident at the <a href="http://www.sunsetmo.tel/">Sunset Motel</a>.</li> -->
          </ul>
        </div>

        <!-- COURSES -->
        <div class="panel mb-10">
          <h2>COURSES</h2>
          <ul>
            <li><a href="https://cceai.ohrg.org/">Computing and Capitalism in the Era of A.I.</a>, Brown University, Fall 2024</li>
            <li><a href="https://cs-for-social-change.ohrg.org/">CS for Social Change</a>, Brown University, Spring 2023</li>
          </ul>
        </div>

        <!-- CODE -->
        <div class="panel mb-10">
          <h2>CODE</h2>
          <ul>
            <li><a href="https://github.com/forensic-architecture/mtriage">Mtriage</li>
            <li><a href="https://github.com/forensic-architecture/timemap">Timemap</li>
            <li><a href="https://github.com/forensic-architecture/datasheet-server">Datasheet Server</li>
          </ul>
        </div>

        <!-- PUBLICATIONS -->
        <div class="panel mb-10">
          <h2>PUBLICATIONS</h2>
          <ul>
            <li><a href="https://openaccess.thecvf.com/content/WACV2022/html/DCruz_Detecting_Tear_Gas_Canisters_With_Limited_Training_Data_WACV_2022_paper.html">Detecting Tear Gas Canisters With Limited Training Data</a>.
              <br>WACV 2022, open access.</li>

            <li><a href="https://aiforsocialgood.github.io/neurips2019/accepted/track1/pdfs/68_aisg_neurips2019.pdf">Objects of violence: synthetic data for practical ML in human rights investigations</a>.
              <br>NeurIPS 2019, AI for Social Good track.</li>
            <li><a href="https://forensic-architecture.org/investigation/cv-in-triple-chaser">Computer Vision in Triple Chaser.</a><br>Forensic Architecture Open Source.</li>
            <li><a href="https://forensic-architecture.org/investigation/timemap-for-cartographic-platforms">Using Timemap for Cartographic Platforms.</a><br>Forensic Architecture Open Source.</li>
          </ul>
        </div>


        <!-- PICTURE -->
        <div class="panel p-10">
          <div class="mb-10 mt-10 flex-center">
            <img class="flex img-60" src="static/me.png">
          </div>
          <p class="text-center">lives and works in Providence, RI<br/>
          <a href="https://keybase.io/lachlankermode">Keybase</a>; <a href="https://github.com/breezykermo">Github</a>; <a href="https://twitter.com/lachlankermode">Twitter</a>.</p>
        </div>


        <!-- PRESS -->
        <!-- <div class="panel mb&#45;10"> -->
        <!--   <h2>PRESS (for projects I've worked)</h2> -->
        <!--   <ul> -->
        <!--     <li><a href="https://www.e&#45;flux.com/journal/104/299286/climate&#45;control&#45;from&#45;emergency&#45;to&#45;emergence/">Climate Control: From Emergency to Emergence</a>. -->
        <!--       <br>T.J. Demos in e&#45;flux, November 2019.</li> -->
        <!--     <li><a href="https://www.theguardian.com/world/2019/aug/18/new&#45;video&#45;evidence&#45;of&#45;russian&#45;tanks&#45;in&#45;ukraine&#45;european&#45;court&#45;human&#45;rights">New video evidence of Russian tanks in Ukraine revealed</a>.<br>The Guardian, 18th August 2019.</li> -->
        <!--     <li><a href="https://www.wired.com/story/using&#45;ai&#45;film&#45;track&#45;tear&#45;gas&#45;use&#45;against&#45;civilians/">Using AI and Film to Track Tear Gas Use Against Civilians</a>.<br>Wired, 25th July 2019.</li> -->
        <!--   </ul> -->
        <!-- </div> -->
        <!-- TALKS -->
        <!-- <div class="panel mt-20 mb-150">
          <h2>TALKS</h2>
          <p><u>upcoming</u></p>
          <ul>
          </ul>
          <p><u>past</u></p>
          <ul>
            <li>23.09.2019: "AI for Human Rights", at <a href="https://www.sigrid-rausing-trust.org/">Sigrid Rausing Trust</a>.</li>
            <li>16.09.2019: "Citizen Forensics" workshop, at <a href="https://www.schoolofma.org">School of Machines</a> in Berlin.</li>
            <li>31.08.2019: "Spatial Research Practice Roundtable", at <a href="https://www.hkw.de/en/programm/projekte/veranstaltung/p_155571.php">Flaneur Festival, HKW</a> in Berlin.</li>
            <li>17.07.2019: "Machine Learning and Synthetic Data in Open Source", at <a href="https://www.gold.ac.uk/">Goldsmiths University</a>.</li>
            <li>04.07.2019: "On Algorithmic Vision", at Birkbeck's <a href="http://www.bbk.ac.uk/bih/lcts">London Critical Theory Summer School</a>.</li>
            <li>19.06.2019: "Computer Visions", at Princeton-Weimar <a href="https://german.princeton.edu/ssms/">Summer School for Media Studies</a> 2019.</li>
            <li>21.03.2019: "Using Synthetic Data", at <a href="https://www.elementai.com/">ElementAI</a>'s AI for Social Good meetup London.</li>
            <li>10.10.2018: "Machine Learning in Counter Forensics", at <a href="https://www.princeton.edu">Princeton University</a> (co-taught seminar).</li>
            <li>03.11.2018: "<a href="https://forensic-architecture.org/programme/events/lessons-in-counter-forensics-interpretation">Lessons in Counter Forensics: Interpretation</a>" at <a href="https://www.tate.org.uk/visit/tate-britain">Tate Britain</a>.</li>
          </ul>
        </div> -->
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
