@import url('https://fonts.googleapis.com/css?family=Oxygen');
:root {
  --body-font: 'Oxygen', sans-serif;
  --text-color: black;
}

.App {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.innerMarkdown {
  color: var(--text-color) !important;
  line-height: 20px !important;
  font-size: 14px !important;
  padding-right: 10px !important;
}

.innerMarkdown > p {
  color: var(--text-color) !important;
  font-family: var(--body-font);
  line-height: 18px;
  font-size: 12px;
}

li {
  color: var(--text-color) !important;
  font-family: var(--body-font);
  line-height: 20px;
}

span, h1, h2, h3 {
  color: var(--text-color);
}
